
@{
    ViewBag.Title = "Modifica Profilo";
}

<section id="aa-myaccount">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-myaccount-area">
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <div class="aa-myaccount-login">
                                <p class="text-success">@ViewBag.StatusMessage</p>
                                <h4>Modifica il profilo</h4>
                            </div>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

