@{
    Layout = "~/Views/Shared/_Totem.cshtml"; ;
}

<div class="switch">
    <div class="row">
        <div class="col-md-12">
            <a class="btn btn-warning btn-lg btn-block" href="/Totem/Rfid">RfID</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <a class="btn btn-primary btn-lg btn-block" href="/Totem/Cf">Tessera Sanitaria</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <a class="btn btn-danger btn-lg btn-block" href="/Totem/Login">Username/Password</a>
        </div>
    </div>
</div>
