
@{
    ViewBag.Title = "Thankyou";
}

<!-- Thank you section -->
<section id="aa-error">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-error-area">
                    <h2>Grazie</h2>
                    <span>Il tuo ordine è stato completato con successo</span>
                    <p>Potrai controllare lo stato del tuo ordine nella tua Area Ordini</p>
                    <a href="@Url.Action("Index","Home")"> Torna in Homepage</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / Thank you section -->

